
.nav {
    max-height: 420px;
}
.navbar{
    min-height: 80px;
    font-size: 30px;
    
}


img {
    max-width: 200px;
}

.square {
    margin: 5px;
    background-color: black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    
}